@charset "utf-8";
html,  body {
  position: relative;
  height: 100%;
}
.swiper {
  width: 100%;
  height: 100%;
}
.mySwiper2  .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #444; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.mySwiper2 {
  height: 80%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
  border: 5px solid #0ee;
  display: flex;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
  display:flex;
}
.swiper-slide img {
  display: block;
  width: 90%;
  height: 80%;
}
.swiper-slide h4 {
  display: block;
  width: 100%;
  height: 20%;
}
#mainslider{
  width:90%;
  display:flex;
  background-color: #0ee;
  margin: 0 auto;
  justify-content:space-around;
}
.mySwiper {
  width: 80%;
  height: 100%;
  box-sizing: border-box;
  margin: 0 -50px;
  font-size: 12px;
}

#mainslider .right-margin {
  width: 15%;
  height: 80%;
  padding:0 20px;
  font-size: 12px;
  align-items:center;
}

.mySwiper .swiper-wrapper {
  width: 80%;
}
.mySwiper .right-margin {
  width: 20%;
}
.mySwiper .swiper-slide {
    height: 100%;
    opacity: 0.4;
    margin: 0 0 0 5px;
    border-radius: 10px;
    text-align: center;
}
.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  background-color: blue;
  color:white;
}
.mySwiper2 .swiper-slide .book {
  width :20%;
  height:60%;
  margin :10px;
}
.mySwiper2 .swiper-slide .event {
  width :30%;
  height:80%;
  margin :10px;
}
#main2 {
  width:90%;
  height:300px;
  display:flex;
  margin:0 auto;
  align-content:space-between;
}

#main2 #main2left{
  width:60%;
  height:90%;
}

#main2 #main2right{
  width:35%;
  height:90%;
  margin-left:5%;
  border: 1px solid #eee;
}
.mySwiper3 {
  height: 10%;
  width: 100%;
  margin:10px 50px 0 50px;
}
.mySwiper3 .swiper-slide {
    color:#333;
    border: 2px solid #eee;
    background-color: #eee;
    font-size: 12px;
    margin:0 5px;
}
.mySwiper3 .swiper-slide-thumb-active {
  background-color: white;
}
.mySwiper4 {
  height: 90%;
  width: 100%;
  display:flex;
}
.mySwiper4 .swiper-slide .book {
      width :20%;
      height:80%;
      margin :10px;
}
.mySwiper4 .event {
  width :30%;
  height:80%;
  margin :5px;
}   
.mySwiper4 .event img{
  width :100%;
  height:100%;
}   
.swiper-button-next {
  border: 1px solid #eee;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  color:#444;
}
.swiper-button-prev {
  border: 1px solid #eee;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  color:#444;
}


.mySwiper5 {
  height : 100%;
  width: 80%;
}
.mySwiper5 .swiper-slide {
  width : 80%;
  margin : 20px 0 20px 0;
}

.top10 {
  width: 90%;
  height: 200px;
  display:flex;
  flex-direction:column;
  margin : 0 auto;
}

.top10 .top10-head {
  width: 100%;  
  height: 20%;
} 
.top10 .top10-body {
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction:row;
}
.top10 .top10-body .top10-left {
  width: 25%;
  height: 100%;
}
.top10 .top10-body .top10-list {
  width: 25%;
  height: 100%;
  flex-direction:row;
  align-items:space-between;
}
.top10 .top10-body .top10-list div {
  display:flex;
  flex-direction:row;
  margin:5px;
}
.top10 .top10-body .top10-list div h3{
  width: 30%;
}
.top10 .top10-body .top10-list div h5{
  width: 70%;
}
.top10 .top10-body .smallbook{
  width: 100%;
  height: 50%;
  display:flex;
  flex-direction:row;
}
.top10 .top10-body .smallbook img{
  width: 20%;
  height: 80%;
}
.top10 .top10-body .smallbook h3{
  width: 20%;
  height: 80%;
}
.top10 .top10-body .smallbook h6{
  width: 60%;
}
.top10 .top10-body .top10-right {
  width: 25%;
  height: 100%;
  display:flex;
}
.top10 .top10-body .top10-left img {
  width: 40px;
  height: 40px;
}
.mySwiper15 {
  height : 100%;
  width: 80%;
}
.mySwiper15 .swiper-slide {
  width : 80%;
}
.mySwiper16 {
  height : 200px;
  width: 80%;
}
.mySwiper16 .swiper-slide {
  width : 80%;
}
.mySwiper6 {
  width: 90%;
  height:400px;
}
.mySwiper6 .swiper-wrapper {
  width : 20%;
  height : 60%;
}
.mySwiper6 .swiper-slide {
  width : 100%;
  margin : 20px 0 20px 0;
  flex-direction:column;
}
.mySwiper7 {
  width: 90%;
  height:400px;
}
.mySwiper7 .swiper-wrapper {
  width : 20%;
  height : 70%;
}
.mySwiper7 .swiper-slide {
  width : 100%;
  margin : 20px 0 20px 0;
  flex-direction:column;
}

.mySwiper8 {
  width: 90%;
  height:400px;
}
.mySwiper8 .swiper-wrapper {
  width : 20%;
  height : 70%;
}
.mySwiper8 .swiper-slide {
  width : 100%;
  margin : 20px 0 20px 0;
  flex-direction:column;
}
.mySwiper9 {
  width: 90%;
  height:300px;
}
.mySwiper9 .swiper-wrapper {
  width : 20%;
  height : 90%;
}
.mySwiper9 .swiper-slide {
  width : 100%;
  margin : 20px 0 20px 0;
  background-color: #ddd;
}
.mySwiper9 .swiper-slide img {
  width : 35%;
  margin : 10px;
  height: 70%;
}

.mySwiper10 {
  width: 90%;
  height:400px;
}
.mySwiper10 .swiper-wrapper {
  width : 20%;
  height : 70%;
}
.mySwiper10 .swiper-slide {
  width : 100%;
  margin : 20px 0 20px 0;
  flex-direction:column;
}

.mySwiper11 {
  width: 90%;
  height:400px;
}
.mySwiper11 .swiper-wrapper {
  width : 20%;
  height : 70%;
}
.mySwiper11 .swiper-slide {
  width : 100%;
  margin : 20px 0 20px 0;
  flex-direction:column;
}

.mySwiper12 {
  width: 90%;
  height:400px;
}
.mySwiper12 .swiper-wrapper {
  width : 20%;
  height : 70%;
}
.mySwiper12 .swiper-slide {
  width : 100%;
  margin : 20px 0 20px 0;
  flex-direction:column;
}
.mySwiper13 {
  width: 100%;
  height:215px;
  margin:0;
}
.mySwiper13 .swiper-wrapper {
  width : 32%;
  height : 100%;
}
.mySwiper14 {
  width: 90%;
  height:215px;
  margin:0 auto 20px auto;
}
.mySwiper14 .swiper-wrapper {
  width : 32%;
  height : 100%;
}