@charset "utf-8";
#buyBook {
    display:flex;
    flex-direction:column;
    width:1000px;
}
.buybookbody {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.buybookbody .bookimg {
    width:40%;
    height:100%;
}
.bookimg img {
    width :100%;
}
.buybookbody .bookInfo{
    width:50%;
    height:100%;
    display:flex;
    flex-direction: column;
}

.bookInfo .buyInfo {
    display:flex;
    flex-direction : row;
    margin-top:20px;
    align-items:space-between;
}
.buyInfo p {
    width :40%;
}
.buyInfo h4 {
    width :50%;
}
.buybookbody ul {
    display:flex;
    flex-direction: row;
}